.container {
    max-width: 500px;
    height: fit-content;
    display: flex;
    align-items: center;
}

.searchLabel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchInput {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-size: 18px;
}

.searchInput::placeholder {
    color: #000;
}

.searchSuggestions {
    margin-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    list-style: none;
    padding: 0;
}

.searchSuggestion {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    color: #000;
    border: none;
    background: none;
}

.searchSuggestion:hover {
    background: rgba(255, 255, 255, 0.2);
}